*.iml
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*~.nib
*.hprof
.DS_Store
._.DS_Store
.externalNativeBuild
.gradle
.idea
.secret
build
local.properties
node_modules
*xcuserdata*
*.sketch
crowdin.yml
kotlin-js-store
*.md
jdk17/
android-sdk/
cmdline-tools.zip
jdk17.tar.gz
jdk17_download.tar.gz
